@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

:root {
  font-family: "Momo Trust Display", sans-serif; /* apply globally */
  line-height: 1.6;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
